{% block relatedWork %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content2BG flex-grow opposite-sloped nb-pink-gradient w-full">
  </div>
  <div class="content2 py-8 pl-4 md:pl-8 pr-20 md:pr-24 absolute mt-24 max-w-screen-xl w-full text-nb-mint justify-center">
    <div id="work-examples" class="flex flex-col md:flex-row flex-wrap justify-end">
      {% if entry.seeMoreStatement|length %}
      <h4 class="text-nb-dark-blue text-right w-full lg:w-4/5">{{ entry.seeMoreStatement }}</h4>
      {% endif %}
      {% for project in entry.relatedProjects.all() %}
      {% set projectThumbnail = '' %}
      {% for block in project.projectThumbnail.all() %}
      {% set projectThumbnail = block.image.one() %}
      {% endfor %}
      {% set projectLink = project.url() %}
      {% set projectTitle = project.title %}
      {% set projectSubtitle = project.title %}
      <div id="related-project" class="w-1/3 md:pl-4 mt-24">
        <div class="Thumbnail-Wrapper">
          <a href="{{ projectLink }}">
            <div class="Thumbnail-Caption">
              <h4 class="Thumbnail-Title">
                {{ projectTitle }}
              </h4>
              <h5 class="Thumbnail-subTitle">
                {{ projectSubtitle }}
              </h5>
            </div>
            <img src="{{ projectThumbnail.url() }}" alt="" class="Thumbnail-Image">
          </a>
        </div>
      </div>
      {% endfor %}
      <button type="button" name="seeMoreWork" class="self-center mt-8 revealMe load-hidden">
        <h4>See More of Our Work!</h4>
      </button>
    </div>
  </div>
</div>
{% endblock %}
