{% block conclusion %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-end z-40 relative">
  <div class="content3BG flex-grow opposite-sloped nb-dark-blue-gradient w-full">
  </div>
  <div class="content3 py-8 pl-4 md:pl-8 pr-20 md:pr-24 absolute mt-24 max-w-screen-xl w-full text-nb-mint ">
  <h4 class="mb-4">{{ entry.conclusionStatement }}</h4>
  <button type="button" name="callToAction" class="revealMe load-hidden"><h4>{{ entry.callToActionButtonText }}</h4></button>
</div>
</div>
{% endblock %}
