{% block nav %}
<div class="flex flex-row items-start flex-shrink-0 justify-between px-4 mt-4 mb-8 md:px-8 md:mt-8 md:mb-24">
  {% include "_components/_general/logo-component" %}
  {% block logo %}
  {% endblock %}
</div>
<div class="flex flex-grow shadow-wrap h-full">
<div class="flex-grow top-sloped nb-pink-gradient w-full text-nb-dark-blue p-8 md:p-20 text-right">
<ul>
  {% set pages = craft.entries.section('pages').all() %}
  {% for page in pages %}
    <li><h1 class="hover:text-nb-light-blue shadow-wrap">{{ page.getLink() }}</h1></li>
  {% endfor %}
</ul>
</div>
</div>
{% endblock %}
