{% block featuredWork %}

{% set projectThumbnail1 = '' %}
{% for block in entry.featuredWork.nth(0).projectThumbnail.all() %}
{% set projectThumbnail1 = block.image.one()%}
{% endfor %}
{% set projectLink1 = entry.featuredWork.nth(0).url() %}
{% set projectTitle1 = entry.featuredWork.nth(0).title %}
{% set projectSubtitle1 = entry.featuredWork.nth(0).title %}

{% set projectThumbnail2 = '' %}
{% for block in entry.featuredWork.nth(1).projectThumbnail.all() %}
{% set projectThumbnail2 = block.image.one()%}
{% endfor %}
{% set projectLink2 = entry.featuredWork.nth(1).url() %}
{% set projectTitle2 = entry.featuredWork.nth(1).title %}
{% set projectSubtitle2 = entry.featuredWork.nth(1).title %}

{% set projectThumbnail3 = '' %}
{% for block in entry.featuredWork.nth(2).projectThumbnail.all() %}
{% set projectThumbnail3 = block.image.one()%}
{% endfor %}
{% set projectLink3 = entry.featuredWork.nth(2).url() %}
{% set projectTitle3 = entry.featuredWork.nth(2).title %}
{% set projectSubtitle3 = entry.featuredWork.nth(2).title %}

{% set projectThumbnail4 = '' %}
{% for block in entry.featuredWork.nth(3).projectThumbnail.all() %}
{% set projectThumbnail4 = block.image.one()%}
{% endfor %}
{% set projectLink4 = entry.featuredWork.nth(3).url() %}
{% set projectTitle4 = entry.featuredWork.nth(3).title %}
{% set projectSubtitle4 = entry.featuredWork.nth(3).title %}

<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-pink-gradient w-full text-nb-dark-blue" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col md:flex-row flex-wrap max-w-screen-xl -mt-24 absolute justify-center py-8 px-6 md:pl-8 md:pr-24">
    <div id="featuredWork-1" class="w-full md:w-1/3 py-2 md:px-2 self-end">
      <div class="Thumbnail-Wrapper revealMe load-hidden">
        <a href="{{ projectLink1 }}">
          <div class="Thumbnail-Caption">
            <h4 class="Thumbnail-Title">
              {{ projectTitle1 }}
            </h4>
            <h5 class="Thumbnail-subTitle">
              {{ projectSubtitle1 }}
            </h5>
          </div>
          <img src="{{ projectThumbnail1.url() }}" alt="" class="Thumbnail-Image">
        </a>
      </div>
    </div>
    <div id="featuredWork-2" class="w-full md:w-2/3 py-2 md:px-2">
      <div class="Thumbnail-Wrapper revealMe load-hidden">
        <a href="{{ projectLink2 }}">
          <img src="{{ projectThumbnail2.url() }}" alt="" class="Thumbnail-Image">
        </a>
      </div>
    </div>
    <div id="featuredWork-3" class="w-full md:w-1/3 py-2 md:px-2">
      <div class="Thumbnail-Wrapper revealMe load-hidden">
        <a href="{{ projectLink3 }}">
          <img src="{{ projectThumbnail3.url() }}" alt="" class="Thumbnail-Image">
        </a>
      </div>
    </div>
    <div id="featuredWork-4" class="w-full md:w-2/5 py-2 md:px-2 flex flex-col">
      <div class="Thumbnail-Wrapper revealMe load-hidden">
        <a href="{{ projectLink4 }}">
          <img src="{{ projectThumbnail4.url() }}" alt="" class="Thumbnail-Image">
        </a>
      </div>
      <button type="button" name="seeMoreWork" class="self-center mt-8 revealMe load-hidden">
        <h4>See More of Our Work!</h4>
      </button>
    </div>
  </div>
</div>
{% endblock %}
