@tailwind base;

h1 {
  @apply text-6xl;
  @apply font-sans;
  @apply font-bold;
  @apply lowercase;
}

h2 {
  @apply text-4xl;
  @apply font-serif;
  @apply font-bold;
  @apply lowercase;
}

h3 {
  @apply text-4xl;
  @apply font-sans;
  @apply font-bold;
  @apply lowercase;
}

h4 {
  @apply text-2xl;
  @apply font-serif;
  @apply font-bold;
  @apply lowercase;
}

h5 {
  @apply text-xl;
  @apply font-serif;
  @apply font-bold;
  @apply italic;
}

p {
  @apply text-lg;
  @apply font-serif;
  @apply font-semibold;
  @apply normal-case;
}

h6 {
  @apply text-base;
  @apply font-sans;
  @apply font-semibold;
  @apply lowercase;
}

button {
  @apply rounded;
  @apply bg-nb-yellow;
  @apply text-nb-dark-blue;
  @apply py-4;
  @apply px-6;
  @apply shadow-lg;
  @apply inline-block;
  @apply transition;
  @apply ease-in-out;
  @apply duration-300;
  @apply transform;
}

button:hover {
  @apply scale-95;
  @apply text-nb-yellow;
  @apply bg-nb-dark-blue;
}

@screen md {
  h1 {
    @apply text-8xl;
    @apply font-sans;
    @apply font-bold;
    @apply lowercase;
  }

  h2 {
    @apply text-5xl;
    @apply font-serif;
    @apply font-bold;
    @apply lowercase;
  }

  h3 {
    @apply text-5xl;
    @apply font-sans;
    @apply font-bold;
    @apply lowercase;
  }

  h4 {
    @apply text-3xl;
    @apply font-serif;
    @apply font-bold;
    @apply lowercase;
  }

  h5 {
    @apply text-2xl;
    @apply font-serif;
    @apply font-bold;
    @apply italic;
  }

  p {
    @apply text-xl;
    @apply font-serif;
    @apply font-semibold;
    @apply normal-case;
  }

  h6 {
    @apply text-base;
    @apply font-sans;
    @apply font-semibold;
    @apply lowercase;
  }
}

@tailwind components;

@tailwind utilities;

.nb-dark-blue-gradient {
  background: rgb(101,158,200);
  background: linear-gradient(345deg, rgba(101,158,200,1) 3%, rgba(0,42,78,1) 88%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.nb-light-blue-gradient {
  background: rgb(227,236,236);
  background: linear-gradient(345deg, rgba(227,236,236,1) -25%, rgba(101,158,200,1) 81%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.nb-pink-gradient {
  background: rgb(240,145,145);
  background: linear-gradient(345deg, rgba(240,145,145,1) 0%, rgba(253,230,232,1) 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.nb-yellow-gradient {
  background: rgb(232,154,27);
  background: linear-gradient(345deg, rgba(232,154,27,1) 0%, rgba(255,203,88,1) 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bottom-sloped {
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
}

.top-sloped {
  -webkit-clip-path: polygon(
    0 0,
    100% 3vw,
    100% 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    100% 3vw,
    100% 100%,
    0 100%
  );
}

.both-sloped {
  -webkit-clip-path: polygon(
    0 0,
    100% 3vw,
    100% 100%,
    0 calc(100% - 3vw)
  );
  clip-path: polygon(
    0 0,
    100% 3vw,
    100% 100%,
    0 calc(100% - 3vw)
  );
}

.opposite-sloped {
  -webkit-clip-path: polygon(
    0 3vw,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
  clip-path: polygon(
    0 3vw,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
}

.shadow-wrap {
  filter: drop-shadow(10px 10px 33px rgba(0, 42, 78, 0.33));
}

.featuredWorkThumbnail:hover img {
  visibility: hidden;  
}
