{% block projectContent %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-light-blue-gradient w-full" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col md:flex-row max-w-screen-xl -mt-24 absolute justify-center w-full px-6 py-8 md:pr-24 md:py-16 md:pl-8">
    <div id="project-text" class="flex flex-col">
      <h2>{{ entry.title }}</h2>
      <h4>{{ subtitle }}</h4>
      <p>{{ entry.projectDescription }}</p>
    </div>
    <div id="project-images" class="flex flex-col">

    </div>
  </div>
</div>
{% endblock %}
