{% block projectGrid %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-yellow-gradient w-full text-nb-dark-blue" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col max-w-screen-xl -mt-24 absolute justify-center w-full pl-4 py-8 pr-20 md:pr-24 md:py-16 md:pl-8">
    <div class="text-nb-dark-blue text-right mt-24 w-full top-0 z-50 leading-none mb-12">
      <h1 id="pageHeader" class="mb-4">our work</h1>
      <div class="button-group filters-button-group revealMe load-hidden">
        <button class="button is-checked bg-nb-pink text-nb-dark-blue p-2 my-2 ml-4" data-filter="*">
          <p class="font-bold text-base">all work</p>
        </button>
        <button class="button bg-nb-pink text-nb-dark-blue p-2 my-2 ml-4" data-filter=".web">
          <p class="font-bold text-base">web design</p>
        </button>
        <button class="button bg-nb-pink text-nb-dark-blue p-2 my-2 ml-4" data-filter=".graphic">
          <p class="font-bold text-base">graphic design</p>
        </button>
        <button class="button bg-nb-pink text-nb-dark-blue p-2 my-2 ml-4" data-filter=".branding">
          <p class="font-bold text-base">identity & branding</p>
        </button>
        <button class="button bg-nb-pink text-nb-dark-blue p-2 my-2 ml-4" data-filter=".packaging">
          <p class="font-bold text-base">packaging design</p>
        </button>
      </div>
    </div>
    <div class="grid max-w-screen-xl">
      {% for project in craft.entries().section('projects').all() %}
        {% for block in project.projectThumbnail.all() %}
        {% set projectThumbnail = block.image.one() %}
        {% set thumbnailSize = block.size %}
        {% set projectLink = project.url() %}
        {% set projectTitle = project.title %}
        {% set projectSubtitle = project.title %}
        {% set projectType = project.projectType.title %}
          {% include "_components/_projects/projectGridItem-component" %}
          {% block projectGridItem %}
          {% endblock %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
