{% block projectGrid %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-yellow-gradient w-full text-nb-dark-blue" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col max-w-screen-xl -mt-24 absolute justify-center p-8 w-full">
    <h1 class="text-nb-light-blue text-right mt-24 w-full">our work</h1>
    <div class="grid max-w-screen-xl" data-packery='{ "itemSelector": ".grid-item", "gutter": 10}'>
      {% for project in craft.entries().section('projects').all() %}
      {% for block in project.projectThumbnail.all() %}
      {% set projectThumbnail = block.image.one() %}
      {% set thumbnailSize = block.size %}
      {% set projectLink = project.url() %}
      {% set projectTitle = project.title %}
      {% set projectSubtitle = project.title %}
      <div class="Thumbnail-Wrapper grid-item {{ thumbnailSize }}">
        <a href="{{ projectLink }}">
          <div class="Thumbnail-Caption">
            <h4 class="Thumbnail-Title">
              {{ projectTitle }}
            </h4>
            <h5 class="Thumbnail-subTitle">
              {{ projectSubtitle }}
            </h5>
          </div>
          <img src="{{ projectThumbnail.url() }}" alt="" class="Thumbnail-Image">
        </a>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
