{% block projectGrid %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-yellow-gradient w-full text-nb-dark-blue" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col md:flex-row flex-wrap max-w-screen-xl -mt-24 absolute justify-center p-8">
    <h1 class="text-nb-light-blue text-right mb-8">our services</h1>
      <div class="grid">
        {% for project in craft.entries().section('projects').all() %}
        {% set projectThumbnail = project.projectThumbnail.one() %}
        {% set projectLink = project.url() %}
        {% set projectTitle = project.title %}
        {% set projectSubtitle = project.title %}
        <div class="grid-item">
          <div class="Thumbnail-Wrapper grid-item">
            <a href="{{ projectLink }}">
              <div class="Thumbnail-Caption">
                <h4 class="Thumbnail-Title">
                  {{ projectTitle }}
                </h4>
                <h5 class="Thumbnail-subTitle">
                  {{ projectSubtitle }}
                </h5>
              </div>
              <img src="{{ projectThumbnail.url() }}" alt="" class="Thumbnail-Image">
            </a>
          </div>
          </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
