{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.typekit.net/tom5gru.css">
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/5bdd2455c6.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5bdd2455c6.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
	<script src="https://embed.small.chat/T0SLR83ABGSWB1QG05.js" async></script>

	<script>
		function showNav() {
			var x = document.getElementById("mainNav");
			var y = document.body;
			var z = document.getElementById("navIcon");
			if (x.style.display === "none") {
				x.style.display = "block";
				z.classList.add("rotate-45");
				y.style.overflow = "hidden";
			} else {
				x.style.display = "none";
				z.classList.remove("rotate-45");
				y.style.overflow = "auto";
			}
		}
	</script>
<script type="text/javascript">
$(document).ready(function() {

var j = 0;
var delay = 2000; //millisecond delay between cycles
function cycleThru(){
			 var jmax = $("ul#cyclelist li").length -1;
			 $("ul#cyclelist li:eq(" + j + ")")
							 .animate({"opacity" : "1"} ,400)
							 .animate({"opacity" : "1"}, delay)
							 .animate({"opacity" : "0"}, 400, function(){
											 (j == jmax) ? j=0 : j++;
											 cycleThru();
							 });
			 };

cycleThru();

});
</script>

	{% endblock %}
</head>

<body class="bg-nb-light-blue">
	{% block body %}{% endblock %}
	<script>
		window.sr = ScrollReveal();
	</script>
</body>

</html>
