{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.typekit.net/tom5gru.css">
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/5bdd2455c6.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
	<script src="https://embed.small.chat/T0SLR83ABGSWB1QG05.js" async></script>

	<script>
		function showNav() {
			var x = document.getElementById("mainNav");
			var y = document.body;
			var z = document.getElementById("navIcon");
			if (x.style.display === "none") {
				x.style.display = "block";
				z.classList.add("rotate-45");
				y.style.overflow = "hidden";
			} else {
				x.style.display = "none";
				z.classList.remove("rotate-45");
				y.style.overflow = "auto";
			}
		}
	</script>
	<script>
		$(document).ready(function() {
			updateContainer();
			$(window).resize(function() {
				updateContainer();
			});
		});

		function updateContainer() {
			var divHeightIntro = $('.intro').outerHeight();
			$('.introBG').css('min-height', divHeightIntro + 'px');
			var divHeightContent1 = $('.content1').outerHeight();
			$('.content1BG').css('min-height', divHeightContent1 + 'px');
			var divHeightContent2 = $('.content2').outerHeight();
			$('.content2BG').css('min-height', divHeightContent2 + 200 + 'px');
			var divHeightFooter = $('.footer').outerHeight();
			$('.footerBG').css('min-height', divHeightFooter + 'px');
		};
	</script>
	<script type="text/javascript">
	var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
	layoutMode: 'packery',
	gutter: 10,
	originLeft: false,
	stagger: 30,
	transitionDuration: 300
});
	$('.filters-button-group').on( 'click', 'button', function() {
var filterValue = $( this ).attr('data-filter');
// use filterFn if matches value
filterValue = filterFns[ filterValue ] || filterValue;
$grid.isotope({ filter: filterValue });
});
	</script>

</head>

<body class="bg-nb-light-blue">
	{% block body %}{% endblock %}
	<script>
		var divs = $('div[id^="content-"]').hide(),
			i = 0;
		(function cycle() {
			divs.eq(i).fadeIn(400)
				.delay(1000)
				.fadeOut(400, cycle);

			i = ++i % divs.length;
		})();
	</script>
	<script type="text/javascript">
		ScrollReveal().reveal('.Thumbnail-Wrapper');
	</script>
</body>

</html>
