{% extends "_layouts/base-layout" %}
{% block body %}
<div class="shadow-wrap">
  <div class="w-screen flex flex-col both-sloped nb-pink-gradient mt-8 p-12 shadow-xl">
  <h1 class="text-nb-dark-blue">Hello World!</h1>
  <h2 class="text-nb-light-blue">Hello World!</h2>
  <h3 class="text-nb-yellow">Hello World!</h3>
  <h4 class="text-nb-brown">Hello World!</h4>
  <h5 class="text-nb-mint">Hello World!</h5>
  <p class="text-nb-pink">Hello World!</p>
  <h6 class="text-nb-dark-blue">Hello World!</h6>
  </div>
</div>
{% endblock %}
