{% extends "_layouts/base-layout" %}
{% block body %}
<main>
  <section>
    <div class="flex flex-col h-full nb-light-blue-gradient">
        <header class="p-8 mb-24">
          {% include "_sections/_general/header-section" %}
          {% block header %}
          {% endblock %}
        </header>
        <nav class="p-8">
          {% include "_sections/_general/nav-section" %}
          {% block nav %}
          {% endblock %}
        </nav>
        <article class="p-8">
        {% include "_sections/_home/introHome-section" %}
        {% block introHome %}
        {% endblock %}
        </article>
    </div>
  </section>
  <section>
    {% include "_sections/_home/featuredWork-section" %}
    {% block featuredWork %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_home/services-section" %}
    {% block services %}
    {% endblock %}
  </section>
</main>
<footer>
  {% include "_sections/_home/footerWithForm-section" %}
  {% block footerWithForm %}
  {% endblock %}
</footer>
{% endblock %}
