{% extends "_layouts/base-layout" %}
{% block body %}
<header>
  {% include "_sections/header-section" %}
  {% block header %}
  {% endblock %}
</header>
<nav>
  {% include "_sections/nav-section" %}
  {% block nav %}
  {% endblock %}
</nav>
<main>
  <section>
    {% include "_sections/_home/featuredWork-section" %}
    {% block featuredWork %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_home/services-section" %}
    {% block services %}
    {% endblock %}
  </section>
</main>
<footer>
  {% include "_sections/_home/footerWithForm-section" %}
  {% block footerWithForm %}
  {% endblock %}
</footer>
{% endblock %}
