{% block heroStatement %}
<div class="text-nb-mint">
  {% set rotatingText = entry.heroStatement.type('rotatingTextOption').all() %}
  {% set preText = entry.heroStatement.type('preStaticText').one() %}
  {% set postText = entry.heroStatement.type('postStaticText').one() %}
  <div class="text-wrapper text-right">
    {{ preText.text }}&nbsp;
      {% for textOption in rotatingText %}
        <div id="content-{{ loop.index }}" class="nb-dark-blue inline-block">{{ textOption.text }}</div>
      {% endfor %}
      <br/>
      {{ postText.text }}
  </div>
</div>
{% endblock %}
