{% block heroStatement %}
<div class="flex flex-row flex-wrap text-nb-mint text-left">
  {% set rotatingText = entry.heroStatement.type('rotatingTextOption').all() %}
  {% set preText = entry.heroStatement.type('preStaticText').one() %}
  {% set postText = entry.heroStatement.type('postStaticText').one() %}
  <div class="text-wrapper text-center">
    {{ preText.text }}
    <div class="animated-words inline-block">
      {% for textOption in rotatingText %}
        <span class="nb-dark-blue">{{ textOption.text }}</span>
      {% endfor %}
      </div>
    {{ postText.text }}
  </div>
</div>
{% endblock %}
