{% block heroStatement %}
<div class="text-nb-mint relative text-right">
  {% set rotatingText = entry.heroStatement.type('rotatingTextOption').all() %}
  {% set preText = entry.heroStatement.type('preStaticText').one() %}
  {% set postText = entry.heroStatement.type('postStaticText').one() %}
  <h2>{{ preText.text }}</h2>
  <div class="slidingVertical">
      {% for textOption in rotatingText %}
  <span class="text-nb-dark-blue">
    {{ textOption.text }}
  </span>
    {% endfor %}
  </div>
<h2>{{ postText.text }}</h2>
</div>
{% endblock %}
