{% block aboutIntro %}
<div class="flex flex-grow shadow-wrap h-full -mt-24 justify-center z-40 relative">
  <div class="content1BG flex-grow opposite-sloped nb-dark-blue-gradient w-full" style="transform: scaleX(-1);">
  </div>
  <div class="content1 flex flex-col max-w-screen-xl -mt-24 absolute justify-center w-full px-6 py-8 md:pr-24 md:py-16 md:pl-8">
    <div id="intro-wrapper" class="w-full mb-24 flex flex-col-reverse md:block">
      <div id="intro-image" class="w-full md:w-2/5 md:-mt-16 float-left inline-flex flex-shrink-0 mr-8 mb-4">
        {% set introImage = entry.introImage.one() %}
        <img src="{{ introImage.url() }}" alt="" class="Thumbnail-Image">
      </div>
      <div id="intro-text" class="pt-24 md:pl-8 inline mb-8 md:mb-0">
        <div id="header-text" class="text-nb-yellow text-right md:text-left mt-8 w-full top-0 z-50 leading-none mb-8">
          <h1 id="pageHeader" class="pt-8">{{ entry.title }}</h1>
        </div>
        <h4 class="text-nb-mint text-right md:text-left leading-relaxed">{{ entry.introStatement|nl2br }}</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
