{% extends "_layouts/base-layout" %}
{% block body %}
<main>
  <nav id="mainNav" class="flex flex-col h-screen w-screen nb-light-blue-gradient fixed overflow-scroll z-50 bottom-0" style=
"display: none">
    {% include "_sections/_general/nav-section" %}
    {% block nav %}
    {% endblock %}
  </nav>
  <section>
    {% include "_sections/_general/intro-section" %}
    {% block intro %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_home/featuredWork-section" %}
    {% block featuredWork %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_home/services-section" %}
    {% block services %}
    {% endblock %}
  </section>
</main>
<footer>
  {% include "_sections/_home/footerWithForm-section" %}
  {% block footerWithForm %}
  {% endblock %}
</footer>
{% endblock %}
