{% extends "_layouts/base-layout" %}
{% block body %}
<main>
  <nav id="mainNav" class="flex flex-col h-screen w-screen nb-light-blue-gradient fixed overflow-scroll z-50 bottom-0" style=
"display: none">
    {% include "_sections/_general/nav-section" %}
    {% block nav %}
    {% endblock %}
  </nav>
  <section>
    <div class="introBG flex flex-col items-center nb-light-blue-gradient">
        {% include "_sections/_general/header-section" %}
        {% block header %}
        {% endblock %}
      <div class="intro max-w-screen-xl w-full">
        {% include "_sections/_general/intro-section" %}
        {% block intro %}
        {% endblock %}
      </div>
    </div>
  </section>
  <section>
    {% include "_sections/_services/serviceContent-section" %}
    {% block featuredWork %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_services/relatedWork-section" %}
    {% block relatedWork %}
    {% endblock %}
  </section>
  <section>
    {% include "_sections/_general/conclusion-section" %}
    {% block conclusion %}
    {% endblock %}
  </section>
<footer>
  {% include "_sections/_general/footer-section" %}
  {% block footerWithForm %}
  {% endblock %}
</footer>
{% endblock %}
